#footer{
    border-top:solid 1px black;
}
#tout{
    padding:1%;
}
#groupe{
    width:100%;
    display:flex;
    text-align:center;
}
.colonnes{
    margin-left:auto;
    margin-right:auto;
}
.a:hover{
    cursor:pointer;
}

#bas{
    padding-top:1%;
}