*{
    cursor: inherit;
}
.clickable{
    cursor: pointer;
}
.centerDiv{
    width: 100%;
    text-align: center;
  }
  
h2{
    cursor: inherit;
}
.cacher{
    display: "none";
}
.lienAccueil{
    text-decoration:none;
    margin-left: auto;
    margin-right: auto;
    width:100%;

}
.choisi{
    color: #fff;
    background-color: #1976d2;
}

.paschoisi{
    color: #0e8cd4;
    background-color: white;
}

.liste{
    display: flex;
}

.gras{
    font-weight: bold;
}

.gris{
    color: rgb(92, 91, 91);
}

.bleu{
    color: #0e8cd4;
}