#barreTop{
    background-color: #e4e4e4;
    width: 100%;
    height:100px;
    padding-top:1%;
}

#presentation{
    display:flex;
    padding-top:0;
}

#logotout{
    width:40%;
    height:40%;
    display: block;
}
#logo{
    display: none;
}
#logotexte{
    display: none;
}

#Albivouac{
    font-size:200%;
    color:black;
}

#beaucoup{
    position: absolute;
    left:35%;
    right:35%;
    top:0;
}

#boutons{
    display:flex;
}

.lienAccueil{
    text-decoration:none;
}
.lienAccueil Button{
    font-size:200%;
    color:black;
    text-align:center;
}



.mapcontainer{
    width: 100%;
    height: 620px;
}

@media screen and (max-width: 800px) {
    #barreTop{
        height: 200px;
    }
    #beaucoup{
        top:0;
        display:inline;
        margin-left: auto;
        margin-right: auto;
    }
    #boutons{
        display:inline;
    }
    .lienAccueil Button{
        display: block;
        font-size:100%;
        border-bottom: black 1px solid;
        width:100%;
        border-radius: 0;
        text-align: center;
        }

    #lastButton{
        border-bottom: none !important;
    }


    #logotout{
        display: none;
    }
    #logo{
        padding-top:15%;
        width: 100%;
        height: 100%;
        display: block;
    }
    #logotexte{
        width: 100%;
        height: 100%;
        display: block;
    }
}