.centerDiv{
    width: 100%;
    text-align: center;
}

img{
    cursor: pointer;
    width: 40%;
    height: 80%;
}
.unchek{
    filter: grayscale(1);
}
.chek{
    filter: grayscale(0);
}
.image{
    width: auto;
    height: auto;
}